# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js
.next/
out/
build/

# Environnement / secrets
.env
.env.*
!.env.example

# Divers
*.log
npm-debug.log*
.DS_Store
Thumbs.db
.vercel
*.tsbuildinfo
next-env.d.ts
